.btn {
  white-space: normal;
  height: auto;
  margin: 5px;
}

.chat-container {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.speech-bubble:nth-child(odd) {
	position: relative;
	background: #3073d5;
	border-radius: .4em;
  padding: 15px;
  margin: 15px;
}

.speech-bubble:nth-child(odd):after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #3073d5;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.speech-bubble:nth-child(even) {
  position: relative;
	background: #e2e2e7;
	border-radius: .4em;
  padding: 15px;
  margin: 15px;
}

.speech-bubble:nth-child(even):after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #e2e2e7;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}
